[Unit]
Description=LogWatcher Daemon
After=network.target

[Service]
Type=simple
ExecStart=/usr/local/bin/python3.10 /opt/LogWatcher/LogWatcher.py
WorkingDirectory=/opt/LogWatcher
Restart=on-failure

[Install]
WantedBy=multi-user.target
